# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist-ssr
*.local

# Tauri
src-tauri/target/
src-tauri/gen/

# Rust
debug/
target/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*
!.env.example
